<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <title>Dashboard</title>
</head>
<body>
    <h1>Monitoring Dashboard</h1>
    <nav class="menu"> <span class="titre"> Dashboard </span>
        <ul>
            <li><a href="/">Menu Principal</a></li>
            
            
            
        </ul>
    </nav>

    <div id="add-server">
        <form method="POST" action="{{ url_for('add_server_route') }}">
            <label for="server_url">Url du serveur:</label>
            <input type="text" id="server_name" url="server_url" required>
            <button type="submit">Ajouter</button>
        </form>
    </div>
    
</body>
</html>