<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <title>Dashboard</title>
</head>
<body>
    <h1>Monitoring Dashboard</h1>
    <nav class="menu"> <span class="titre"> Dashboard </span>
        <ul>
            <li><a href="/">Menu Principal</a></li>
            <li><a href="infos.html">Infos Server</a></li>
            <li><a href="system.html"> Système status</a></li>
            <li><a href="network.html"> Network</a></li>
            <li><a href="static_infos.html"> static Informations</a></li>
            <li><a href="logInfos.html">Infos Server</a></li>
        </ul>
    </nav>

    <div id="log-info">
        <h2>About WordPress</h2>
        <p id="nb-user"></p>
        <div id="user-graph"></div>
        <p id="nb-error"></p>
        
    </div>

    <script>
        function updateGraph(){
            fetch(`/server/${server_id}/graph/dataLogs`)
                .then(response => response.json())
                .then(data => {
                    // Récupération du nombre d'utilisateur connectés
                    var nbUser =data.nbUser;
                    var actNbUser = nbUser[nbUser.length-1];

                    //Récupération du nombre d'erreur
                    var nbError = data.nb404;
                    var nbErrorVal = nbError[nbError.length-1];

                    // Récupération du temps pour tracer en temps réel
                    var times = data.times.map(ts => new Date(ts * 1000));

                    // Affichage du nombre d'erreur 
                    var errorEle = document.getElementById('nb-error');
                    errorEle.textContent  = `Number of 404 Error : ${nbErrorVal}`;

                    // Affichage du nombre d'utilisateurs connectés
                    var nbUserEle = document.getElementById('nb-user');
                    nbUserEle.textContent = `Number of user : ${actNbUser}`
                })
        };

        setInterval(updateGraph,1000);
        updateGraph(); 
    </script>
    
</body>
</html>