<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <title>Dashboard</title>
</head>
<body>
    <h2> Network</h2>
    <nav class="menu"> <span class="titre"> Dashboard </span>
        <ul>
            <li><a href="system.html"> Système status</a></li>
            <li><a href="network.html"> Network</a></li>
        </ul>
    </nav>
    
    
    <!-- Ajoutez le contenu de votre tableau de bord ici -->
    <img src="data:image/png;base64,{{ plot_url }}" alt="Matplotlib Plot">
</body>
</html>