<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <title>Dashboard</title>
</head>
<body>
    <h2> Network</h2>
    <nav class="menu"> <span class="titre"> Dashboard </span>
        <ul>
            <li><a href="/">Menu Principal</a></li>
            <li><a href="infos.html">Infos Server</a></li>
            <li><a href="system.html"> Système status</a></li>
            <li><a href="network.html"> Network</a></li>
        </ul>
    </nav>

    <div id="dtr-graph">

        
    </div>

    <div id="utr-graph">
        
    </div>

    <script>
            

        
        var config = {
            displayModeBar: false  // Désactiver la barre de paramètres
        };

        

        function updateGraph() {
            fetch('/graph/dataNetwork')
                .then(response => response.json())
                .then(data => {
                    var network_dtr = data.network_dtr;
                    var network_utr = data.network_utr;
                    var times = data.times.map(ts => new Date(ts * 1000));

                    if (network_dtr.length > {{ max_points }}) {
                        network_dtr = network_dtr.slice(-{{ max_points }});
                        network_utr = network_utr.slice(-{{ max_points }})
                        times = times.slice(-{{ max_points }});
                    }

                    var layout = {
                        title: 'Download Transfer Rate',
                        xaxis: {
                            title: 'Time',
                            type: 'date',  // Utilisation du type de données date
                            tickformat: '%H:%M:%S',  // Format des ticks de l'axe X pour l'heure
                            range: [times[0], times[times.length - 1]]
                        },
                        yaxis: {
                            title: 'Download Transfer Rate',
                            
                        },
                        displayModeBar: false  // Désactiver la barre de paramètres
                    };


                    var dtr = network_dtr.map(u => u + 'MB/s');
                    var points = {
                        x: times,
                        y: network_dtr,
                        text: dtr,
                        type: 'scatter',
                        mode: 'lines+markers'
                    };

                    var layout2 = {
                        title: 'Upload Transfer Rate',
                        xaxis: {
                            title: 'Time',
                            type: 'date',  // Utilisation du type de données date
                            tickformat: '%H:%M:%S',  // Format des ticks de l'axe X pour l'heure
                            range: [times[0], times[times.length - 1]]
                        },
                        yaxis: {
                            title: 'Upload Transfer Rate',
                            
                        },
                        displayModeBar: false  // Désactiver la barre de paramètres
                    };

                    var utr = network_utr.map(u => u + 'MB/s');
                    var points1 = {
                        x: times,
                        y: network_utr,
                        text: utr,
                        type: 'scatter',
                        mode: 'lines+markers'
                    };

                    Plotly.newPlot('dtr-graph', [points], layout,config);
                    Plotly.newPlot('utr-graph', [points1], layout2,config);
                });
        };

        setInterval(updateGraph, 1000);
        updateGraph(); // Appel initial
    </script>
    
    
    <!-- Ajoutez le contenu de votre tableau de bord ici -->
    
</body>
</html>