<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/style2.css">
    <title>Not Found</title>
</head>
<body>

    <div class="container">
        <h1>404 - Page Non Trouvée</h1>
        <p>La page que vous cherchez semble introuvable. Elle a peut-être été déplacée ou supprimée, ou peut-être l'URL n'est pas correcte.</p>
        <p>Si jamais vous souhaitiez accéder à la page donnant l'accès à votre serveur, alors votre serveur n'est pas accessible pour le moment.</p>
        <p>Si vous pensez qu'il s'agit d'une erreur, veuillez contacter l'administrateur du site.</p>
        <a href="/">Retourner à la page d'accueil</a>
    </div>
</body>
</html>
