
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Static Info</title>
</head>
<body>
    <h1>Monitoring Dashboard</h1>
    <nav class="menu"> <span class="titre"> Dashboard </span>
        <ul>
            <li><a href="/">Menu Principal</a></li>
            <li><a href="infos.html">Infos Server</a></li>
            <li><a href="system.html"> Système status</a></li>
            <li><a href="network.html"> Network</a></li>
            <li><a href="static_infos.html"> static Informations</a></li>
            <li><a href="logInfos.html"> WordPress Infos</a></li>
        </ul>
    </nav>

    <div>
        <h2>Static Info Page</h2>
        <p>Nickname: {{ user_info[0].nickname }}</p>
        <p>Hostname: {{ user_info[0].hostname }}</p>
        <p>IP: {{ user_info[0].ip }}</p>
        <p>CPU Frequency: {{ cpu_frequency }}</p>
        <p>CPU Number of Cores : {{nb_core}}</p>
        <p>Ram Frequency: {{ ram_frequency }}</p>
        <p>Ram Total {{ ram_total }}</p>
    </div>
     
</body>
</html>