
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <title>Static Info</title>
</head>
<body>
    <h1>Monitoring Dashboard</h1>
    <h2>Static Informations</h2>
    <nav class="menu"> <span class="titre"> Dashboard </span>
        <ul>
            <li><a href="/">Main Menu</a></li>
            <li><a href="infos.html">Infos Server</a></li>
            <li><a href="system.html"> System status</a></li>
            <!--<li><a href="network.html"> Network</a></li>-->
            <li><a href="static_infos.html"> Static Informations</a></li>
            <li><a href="logInfos.html"> WordPress Infos</a></li>
        </ul>
    </nav>

    <h2>Static Info Page</h2>
    <div id="static-info">
        <p>Nickname : {{ user_info[0].nickname }}</p>
        <p>Hostname : {{ user_info[0].hostname }}</p>
        <p>IP : {{ user_info[0].ip }}</p>
        <p>CPU Frequency : {{ cpu_frequency }}</p>
        <p>CPU Number of Cores : {{nb_core}}</p>
        <p>Ram Frequency : {{ ram_frequency }}</p>
        <p>Ram Total : {{ ram_total }}</p>
    </div>
     
</body>
</html>