
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Static Info</title>
</head>
<body>
    <h1>Static Info Page</h1>
    <p>Nickname: {{ user_info[0].nickname }}</p>
    <p>Hostname: {{ user_info[0].hostname }}</p>
    <p>IP: {{ user_info[0].ip }}</p>
     <p>CPU Frequency: {{ cpu_frequency }}</p>
     <p>CPU Number of Cores : {{nb_core}}</p>
     <p>Ram Frequency: {{ ram_frequency }}</p>
     <p>Ram Total {{ ram_total }}</p>

     
</body>
</html>