<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <title>Dashboard</title>
</head>
<body>
    <h1>Monitoring Dashboard</h1>
    <h2> System Status </h2>
    <nav class="menu"> <span class="titre"> Dashboard </span>
        <ul>
            <li><a href="/">Menu Principal</a></li>
            <li><a href="infos.html">Infos Server</a></li>
            <li><a href="system.html"> Système status</a></li>
            <li><a href="network.html"> Network</a></li>
        </ul>
    </nav>

    <div id="CPU">
        <h2>CPU USAGE</h2>
        <div id ="cpu-core">    
            <p>Number of core : {{nb_core}}</p> 
        </div>

        <div id="average-load">
            <p id="avg-load"></p>    
        </div>
        
        <div id="cpu-graph"></div>

    </div>

    <div id="RAM">
        <h2>RAM USAGE</h2>
        <div> 
            <p id="ram-used"> </p>
        </div>
        <div id ='ram-graph'></div>
    </div>

    <div id="HDD">
        <h2>HARD DRIVE USAGE</h2>
        <div>
            <p  id="hdd-used"></p>
            <p id="hdd-percent"></p>
        </div>
    </div>

    <script>

        var server_id = {{ server_id }};
        var total_ram = {{total_ram}}
        var total_ramVal = total_ram.toFixed(2) // Pourn n'avoir que deux chiffres après la virgule

        var total_hdd = {{total_hdd}}
        var total_hddVal = total_hdd.toFixed(2)

        var layout = {
            title: 'CPU Usage Over Time',
            xaxis: {
                title: 'Time',
                type: 'date',  // Utilisation du type de données date
                tickformat: '%H:%M:%S'  // Format des ticks de l'axe X pour l'heure
            },
            yaxis: {
                title: 'CPU Usage (%)',
                range: [0, 100]
            },
            displayModeBar: false  // Désactiver la barre de paramètres
        };

        var layout1 = {
            title: 'RAM Usage Over Time',
            xaxis: {
                title: 'Time',
                type: 'date',  // Utilisation du type de données date
                tickformat: '%H:%M:%S'  // Format des ticks de l'axe X pour l'heure
            },
            yaxis: {
                title: 'RAM Usage (%)',
                range: [0, 100]
            },
            displayModeBar: false  // Désactiver la barre de paramètres
        };

        var config = {
            displayModeBar: false  // Désactiver la barre de paramètres
        };

        function updateGraph() {
            fetch(`/server/${server_id}/graph/data`)
                .then(response => response.json())
                .then(data => {
                    // récupération des données du CPU 
                    var usages = data.usages;
                    var avg_load = usages[usages.length -1]


                    // Récupération des données RAM 
                    var ramPercent = data.ramPercent;
                    var ramUsed = data.ramUsed;
                    var actRamUsed = ramUsed[ramUsed.length -1]
                    var ramUsedVal = actRamUsed.toFixed(2) // Pour n'afficher que deux chiffres après la virgule

                    // Récupération des données du hard drive 
                    var hddPercent = data.hddPercent;
                    var hddPercentVal = hddPercent[hddPercent.length-1].toFixed(2)
                    var hddUsed = data.hddUsed;
                    var hddUsedVal = hddUsed[hddUsed.length-1].toFixed(2)

                    // Récupération du temps pour tracer en temps réel
                    var times = data.times.map(ts => new Date(ts * 1000));

                    if (usages.length > {{ max_points }}) {
                        usages = usages.slice(-{{ max_points }});
                        times = times.slice(-{{ max_points }});
                    }


                    // Affichage de CPU average load
                    var avgLoadEle = document.getElementById('avg-load');
                    avgLoadEle.textContent = `Average CPU load : ${avg_load}%`

                    var cpuPercentages = usages.map(u => u + '%');
                    var points = {
                        x: times,
                        y: usages,
                        text: cpuPercentages,
                        type: 'scatter',
                        mode: 'lines+markers'
                    };
                    Plotly.newPlot('cpu-graph', [points], layout,config);

                    // Affichage de RAM used/total 
                    var usedRamEle = document.getElementById('ram-used');
                    usedRamEle.textContent = `RAM usage : ${ramUsedVal}/${total_ramVal}GB`

                    var ramPercentages = ramPercent.map(u => u + '%');
                    var points1 = {
                        x: times,
                        y: ramPercent,
                        text: ramPercentages,
                        type: 'scatter',
                        mode: 'lines+markers'
                    };
                    Plotly.newPlot('ram-graph',[points1], layout1,config);   
                    
                    // Affichage des données Hard Drive
                    var usedHddEle = document.getElementById('hdd-used');
                    usedHddEle.textContent = `Disk Usage : ${hddUsedVal}/${total_hddVal}GB`
                    var percentHddEle = document.getElementById('hdd-percent');
                    percentHddEle.textContent = `Percent of usage : ${hddPercentVal}%`
                });
        };

        setInterval(updateGraph, 1000);
        updateGraph(); // Appel initial
    </script>
    
</body>
</html>